* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

p {
  color: rgb(1, 165, 1);
  font-size: 3.5rem;
  cursor: pointer;
  
}
